body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

input,
select {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    margin-left: 5px;
    cursor: pointer;
}

.habit-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    margin: 10px 0;

    background: white;
    border-radius: 8px;
}
.habit-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.habit-item button {
    margin-left: 10px;
}

small {
    color: gray;
    margin-left: 8px;
}

.container.light {
    background-color: white;
    color: black;
}

.container.dark {
    background-color: #1e1e1e;
    color: white;
}
.habit-item.light {
    background-color: white;
}

.habit-item.dark {
    background-color: #2d2d2d;
}

.container.dark input,
.container.dark select {
    background-color: #3a3a3a;
    color: white;
    border: 1px solid #555;
}

.container.dark button {
    background-color: #444;
    color: white;
    border: 1px solid #666;
}